.circle {
    height: 670px;
    width: 670px;
}

.back-putih {
    width: 100vw;
    height: 875px;
}

.yellow-circle {
    position: absolute;
    width: 670px;
    height: 670px;
    left: 367px;
    top: 68px;
    border-radius: 999px;
    background: #F4BD08;
}

.image-main-app {
    position: absolute;
    width: 278.67px;
    height: 555.49px;
    left: 564.08px;
    top: 233.51px;
    border-radius: 16px;
}

.cukup_1_menit {
    position: absolute;
    width: 452px;
    height: 45px;
    left: 83px;
    top: 331px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;

    display: flex;
    align-items: center;

    color: #343A40;
}

.desc_cukup_1_menit {
    position: absolute;
    width: 443px;
    height: 105px;
    left: 83px;
    top: 377px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 145.5%;


    color: #343A40;
}

.tag_line {
    position: absolute;
    width: 459px;
    height: 96px;
    left: 896px;
    top: 454px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 45px;
    /* or 107% */


    color: #000000;

}

.cobain_ngebid {
    position: absolute;
    width: 309px;
    height: 62px;
    left: 1002px;
    top: 578px;

    background: #1A3EEC;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    /* or 250% */

    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .back-putih {
        position: relative;
        width: 100vw;
        height: auto;
        min-height: 781px;
        display: flex;
        justify-content: center;
    }

    .yellow-circle {
        position: absolute;
        width: 280px;
        height: 280px;
        left: 46px;
        top: 110px;
    }

    .image-main-app {
        position: absolute;
        width: 175.55px;
        height: 342px;
        left: 98px;
        top: 166px;
    }

    .cukup_1_menit {
        display: none;
    }

    .desc_cukup_1_menit {
        display: none;
    }

    .tag_line {
        position: absolute;
        width: unset;
        height: 91px;
        left: 0;
        top: 571px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        /* or 107% */

        text-align: center;

        color: #000000;
    }

    .cobain_ngebid {
        position: absolute;
        width: 241px;
        height: 41px;
        left: 59px;
        top: 684px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #1A3EEC;
        border-radius: 100px;
    }

    .siap-image {
        position: absolute;
        width: 74px;
        height: 125px;
        left: 59px;
        top: 430px;
    }

    .back-black {
        top: 2550px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #container-words {
        display: none;
        position: absolute;
        width: 452px;
        left: 83px;
        top: 331px;
    }

    .cukup_1_menit {
        position: unset;
        width: unset;
        font-size: 24px;
    }

    .desc_cukup_1_menit {
        position: unset;
        width: unset;
        font-size: 18px;
    }

    #container-tag-line {
        position: relative;
        width: 100vw;
        height: 96px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
    }

    .tag_line {
        position: unset;
        text-align: center;
        font-size: 32px;
        margin-bottom: 1rem;
    }

    .cobain_ngebid {
        position: unset;
        padding-inline: 30px;
        line-height: unset;
        padding-block: 10px;
    }

    #container-yellow-circle {
        margin-top: 2rem;
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .yellow-circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
        width: 400px;
        height: 400px;
    }

    .image-main-app {
        scale: 0.7;
        position: unset;
    }

    .siap-image {
        display: none;
    }

    .text-show-up {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 138px;
        left: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 270px;
        justify-content: center;
        align-items: center;
    }

    .back-blue {
        min-height: 816px !important;
    }

    .back-black {
        top: 2650px !important;
    }

    .text-show-up {
        width: 100% !important;
        left: 0 !important;
        padding-inline: 25px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .back-blue {
        min-height: 877px !important;
    }

    .back-black {
        top: 2711px !important;
    }
}

@media only screen and (min-width: 922px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1300px) {
    .circle {
        height: 670px;
        width: 670px;
    }

    .back-putih {
        width: 100vw;
        height: 875px;
    }

    .yellow-circle {
        position: absolute;
        width: 670px;
        height: 670px;
        left: 367px;
        top: 68px;
        border-radius: 999px;
        background: #F4BD08;
    }

    .image-main-app {
        position: absolute;
        width: 278.67px;
        height: 555.49px;
        left: 564.08px;
        top: 233.51px;
        border-radius: 16px;
        scale: 1;
    }

    #container-words {
        display: block;
        left: -4px;
        top: 55px;
    }

    .cukup_1_menit {
        position: absolute;
        width: 452px;
        height: 45px;
        left: 43px;
        top: 331px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;

        display: flex;
        align-items: center;

        color: #343A40;
    }

    .desc_cukup_1_menit {
        position: absolute;
        width: 443px;
        height: 105px;
        left: 43px;
        top: 377px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 145.5%;


        color: #343A40;
    }

    .tag_line {
        position: absolute;
        width: 459px;
        height: 96px;
        left: 761px !important;
        top: 454px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 45px;
        /* or 107% */


        color: #000000;

    }

    .cobain_ngebid {
        position: absolute;
        width: 309px;
        height: 62px;
        left: 890px !important;
        top: 578px;

        background: #1A3EEC;
        border-radius: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        /* or 250% */

        text-align: center;
        color: #FFFFFF;
    }

    .siap-image {
        display: none;
    }

    .container-words {
        display: block;
        left: -45px !important;
        top: 55px;
        width: 10px;
    }

    .yellow-circle {
        left: 285px !important;
    }

    .image-main-app {
        left: 488.08000000000004px !important;
    }

    .box-1 {
        left: 139px !important;
    }

    .box-2 {
        left: 638px !important;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    .circle {
        height: 670px;
        width: 670px;
    }
    
    .back-putih {
        width: 100vw;
        height: 875px;
    }
    
    .yellow-circle {
        position: absolute;
        width: 670px;
        height: 670px;
        left: 367px;
        top: 68px;
        border-radius: 999px;
        background: #F4BD08;
    }
    
    .image-main-app {
        position: absolute;
        width: 278.67px;
        height: 555.49px;
        left: 564.08px;
        top: 233.51px;
        border-radius: 16px;
    }
    
    .cukup_1_menit {
        display: block;
        position: absolute;
        width: 452px;
        height: 45px;
        left: 83px;
        top: 331px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
    
        display: flex;
        align-items: center;
    
        color: #343A40;
    }
    
    .desc_cukup_1_menit {
        display: block;
        position: absolute;
        width: 443px;
        height: 105px;
        left: 83px;
        top: 377px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 145.5%;
    
    
        color: #343A40;
    }
    
    .tag_line {
        position: absolute;
        width: 459px;
        height: 96px;
        left: 896px;
        top: 454px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 45px;
        /* or 107% */
    
    
        color: #000000;
    
    }

    #container-words {
        display: block!important;
        position: absolute;
        width: 451px;
        left: -8px;
        top: 34px;
    }
    
    .cobain_ngebid {
        position: absolute;
        width: 309px;
        height: 62px;
        left: 1020px;
        top: 578px;
    
        background: #1A3EEC;
        border-radius: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        /* or 250% */
    
        text-align: center;
        color: #FFFFFF;
    }

    .siap-image {
        display: none;
    }
}